/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
html {
  font-size: 16px;
  line-height: 1.42857143;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* line 9, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 14, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 19, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 26, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
body {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  /* line 53, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
  .main-container {
    width: 80%;
    margin-left: 20%;
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
header {
  background-image: url("../../images/network-4851119_1920.jpg");
  /* Update with your image path */
  background-size: cover;
  /* Ensures the image covers the entire header */
  background-position: center;
  /* Centers the image */
  height: 100vh;
  /* Adjust height as needed */
  color: white;
  /* Optional: change text color for better visibility */
}

/* line 9, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-container {
  display: flex;
  /* Make it a flex container */
  flex-direction: column;
  /* Stack children vertically */
  justify-content: space-between;
  /* Space between title and scroll */
  height: 100%;
  /* Ensure it takes full height of the header */
}

/* line 16, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

/* line 23, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-title h1 {
  margin-bottom: -10px;
}

/* line 29, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-scroll {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

/* line 37, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-scroll .icon-arrow-down {
  font-size: 2rem;
}

@media (max-width: 767px) {
  /* line 48, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-scroll {
    margin-bottom: 100px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* line 54, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-title {
    font-size: 1.8rem;
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5d777e;
  box-shadow: inset 0 0 30px #0c2e3b;
  height: 100%;
}

/* line 11, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 19, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.nav-initals {
  text-align: center;
  font-size: 2rem;
  margin-bottom: -20px;
  color: white;
  text-shadow: 1px 1px 0 black,  -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

/* line 33, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.pages-links {
  list-style-type: none;
  padding-bottom: 20px;
}

/* line 36, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.pages-links li {
  margin-bottom: 10px;
}

/* line 41, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.pages-links li a {
  color: white;
  text-decoration: none;
}

/* line 47, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.nav-socials {
  text-align: center;
  padding-left: 15px;
  padding-bottom: 10px;
}

/* line 51, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.nav-socials a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

/* line 64, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.hamburger-icon {
  position: relative;
  width: 100px;
  height: 56px;
  margin: 10px 0px;
}

/* line 72, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.hamburger-line {
  width: 45px;
  height: 4px;
  background-color: #fff;
  margin: 8px 0;
}

/* line 83, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.hamburger-line-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  /* line 102, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
  .nav-initals,
  .links-container,
  .nav-socials {
    display: none;
  }
  /* line 110, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
  .hamburger-icon {
    display: block;
  }
}

@media (min-width: 768px) {
  /* line 120, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
  nav {
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    height: 100vh;
    position: fixed;
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_footer.scss */
footer {
  display: flex;
  justify-content: center;
  background-color: #5d777e;
  box-shadow: inset 0 0 30px #0c2e3b;
  color: white;
}

/* line 3, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5d777e;
  box-shadow: inset 0 0 40px #0c2e3b;
}

/* line 13, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.portfolio h2 {
  color: white;
  font-size: 1.8rem;
  text-decoration: underline;
}

/* line 19, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.Project-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 450px;
  box-sizing: border-box;
  padding-bottom: 20px;
}

/* line 28, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.Project-item img {
  width: 100%;
  height: auto;
  border-radius: 10%;
  box-shadow: 0 5px 12px white;
}

/* line 34, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.Project-item h3 {
  color: white;
}

/* line 37, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.Project-item a {
  background-color: #0c2e3b;
  box-shadow: inset 0 0 5px #5d777e;
  color: white;
  border: 2px solid #548597;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0c2e3b;
}

/* line 8, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-me h2 {
  color: white;
  font-size: 1.8rem;
  text-decoration: underline;
  margin-bottom: -10px;
}

/* line 14, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-me p {
  font-size: 1.3rem;
  color: white;
}

/* line 19, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-me .icon-arrow-down {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

/* line 26, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-form {
  width: 100%;
}

/* line 30, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

/* line 36, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-form div {
  margin-bottom: 10px;
}

/* line 40, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.colored-input {
  background-color: #5d777e;
  box-shadow: inset 0 0 3px white;
  color: white;
}

/* line 44, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.colored-input:focus {
  outline: 2px solid white;
}

/* line 51, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
input::placeholder {
  color: white;
  opacity: 1;
}

/* line 56, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-me-submit {
  font-size: 1.2rem;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  color: #0c2e3b;
  border: 2px solid #548597;
}

@media (min-width: 576px) and (max-width: 767px) {
  /* line 70, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
  .contact-form {
    width: 80%;
  }
}

/*# sourceMappingURL=application.css.map */