/* line 2, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
html {
  scroll-behavior: smooth;
}

/* line 7, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
html {
  font-size: 16px;
  line-height: 1.42857143;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* line 15, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 20, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 26, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 35, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
body {
  display: flex;
  flex-direction: column;
}

/* line 45, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
#moving-background {
  background-image: url("https://joshr95.github.io/myPortfolio/images/network-4851119_1920.jpg"), url("../../images/network-4851119_1920.jpg");
  background-size: cover;
  -webkit-animation: slidein 25s;
  animation: slidein 25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 4000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 3750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 4000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 3750px;
  }
}

@media (min-width: 768px) {
  /* line 84, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
  .main-container {
    width: calc(100% - 200px);
    margin-left: 200px;
  }
}

/* line 5, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* line 13, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
  z-index: 1;
}

/* line 22, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-title h1 {
  margin-bottom: -10px;
}

/* line 30, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.main-title h1 {
  font-family: "Bebas Neue", serif;
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, white, #548597);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 38, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-scroll {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  font-size: 1.5rem;
  z-index: 1;
}

/* line 49, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-scroll p {
  margin-bottom: 0;
}

/* line 52, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-scroll .icon-arrow-down {
  font-size: 2rem;
}

@media (max-width: 767px) {
  /* line 70, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-scroll {
    margin-bottom: 100px;
  }
}

@media (max-width: 575px) {
  /* line 78, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .main-title h1 {
    font-size: 4rem;
  }
  /* line 81, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .main-title h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* line 89, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .main-title h1 {
    font-size: 5.5rem;
  }
  /* line 92, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .main-title h2 {
    font-size: 2rem;
  }
  /* line 96, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-scroll {
    font-size: 1.7rem;
  }
  /* line 98, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-scroll .icon-arrow-down {
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  /* line 106, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .main-title h1 {
    font-size: 7rem;
  }
  /* line 109, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .main-title h2 {
    font-size: 2.5rem;
  }
  /* line 113, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-scroll {
    font-size: 1.7rem;
  }
  /* line 115, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-scroll .icon-arrow-down {
    font-size: 2rem;
  }
}

@media (min-width: 1100px) and (max-width: 1299px) {
  /* line 123, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .main-title h1 {
    font-size: 7rem;
  }
  /* line 126, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .main-title h2 {
    font-size: 2.5rem;
  }
  /* line 130, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-scroll {
    font-size: 1.9rem;
  }
  /* line 132, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-scroll .icon-arrow-down {
    font-size: 2.2rem;
  }
}

@media (min-width: 1300px) and (max-width: 1499px) {
  /* line 140, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .main-title h1 {
    font-size: 9rem;
  }
  /* line 143, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .main-title h2 {
    font-size: 3rem;
  }
}

@media (min-width: 1500px) {
  /* line 152, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .main-title h1 {
    font-size: 11rem;
  }
  /* line 155, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .main-title h2 {
    font-size: 3.5rem;
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5d777e;
  box-shadow: inset 0 0 30px #0c2e3b;
  height: 100%;
  width: 200px;
}

/* line 12, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 20, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.nav-initials a {
  text-align: center;
  font-size: 3rem;
  margin-bottom: -20px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 0 black,  -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

/* line 34, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.nav-initials a h1:active,
.nav-initials a h1.clicked {
  color: white;
  background-color: #5d777e;
  box-shadow: inset 0 0 5px #0c2e3b;
  padding: 5px 20px;
}

/* line 45, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.links-container {
  visibility: hidden;
  text-align: center;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out, visibility 0s 0.5s;
  padding-left: 0px;
}

/* line 56, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.links-container.is-active {
  visibility: visible;
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out, visibility 0s;
}

/* line 65, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.pages-links {
  list-style-type: none;
  padding: 0;
  padding-bottom: 20px;
}

/* line 69, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.pages-links li {
  width: 140px;
  margin-bottom: 20px;
  background-color: #548597;
  border-radius: 5%;
  padding: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

/* line 78, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.pages-links li:active,
.pages-links li.clicked {
  color: white;
  background-color: #5d777e;
  box-shadow: inset 0 0 5px #0c2e3b;
}

/* line 86, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.pages-links li a {
  color: white;
  text-decoration: none;
}

/* line 93, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.nav-socials {
  text-align: center;
  padding-bottom: 10px;
}

/* line 96, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.nav-socials a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

/* line 107, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.hamburger {
  position: relative;
  display: block;
  width: 50px;
  height: 35px;
  margin: 30px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

/* line 121, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s;
}

/* line 134, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.hamburger.is-active .bar {
  transform: rotate(90deg) translate(0, 0);
  opacity: 1;
  border-radius: 3px;
}

/* line 140, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.hamburger.is-active:before {
  transform: translate(0, -10px);
  width: 100%;
  border-radius: 3px;
}

/* line 146, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.hamburger.is-active:after {
  transform: translate(0, 6px);
  width: 55%;
  border-radius: 3px;
}

@media (max-width: 767px) {
  /* line 168, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
  nav {
    width: 100%;
  }
  /* line 173, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
  .nav-container .nav-initials,
  .nav-socials {
    display: none;
  }
}

@media (min-width: 768px) {
  /* line 185, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
  nav {
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    position: fixed;
  }
  /* line 192, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
  .hamburger {
    display: none;
  }
  /* line 196, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
  .links-container {
    visibility: visible;
    max-height: none;
    opacity: 1;
    transition: none;
  }
  /* line 203, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
  .nav-initials {
    margin-bottom: 75px;
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_footer.scss */
footer {
  display: flex;
  justify-content: center;
  background-color: #5d777e;
  box-shadow: inset 0 0 30px #0c2e3b;
  color: white;
}

@media (min-width: 768px) {
  /* line 17, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_footer.scss */
  footer p {
    margin-left: 200px;
  }
}

/* line 3, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
#portfolio {
  background: linear-gradient(to bottom right, #0c2e3b, #5d777e);
}

/* line 7, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
#portfolio h2 {
  text-align: center;
  color: white;
  font-size: 2.2rem;
  text-decoration: underline;
  margin-top: 0;
  padding-top: 20px;
}

/* line 16, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.project-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 450px;
  box-sizing: border-box;
  padding-bottom: 20px;
}

/* line 24, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.project-item img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 10%;
  box-shadow: 0 5px 12px white;
}

/* line 31, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.project-item h3 {
  color: white;
}

/* line 34, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.project-item a {
  background-color: #0c2e3b;
  box-shadow: inset 0 0 5px #5d777e;
  color: white;
  border: 2px solid #548597;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
}

/* line 46, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.project-item p {
  color: white;
}

/* line 50, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.project-item a:active,
.project-item a.clicked {
  color: white;
  background-color: #5d777e;
  box-shadow: inset 0 0 5px #0c2e3b;
}

/* line 59, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.hidden {
  display: none;
}

/* line 64, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

@media (min-width: 768px) {
  /* line 81, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .project-item {
    position: relative;
    top: 0;
    transition: top 0.5s ease;
    text-decoration: none;
  }
  /* line 14, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/utilities/_mixins.scss */
  .project-item:hover {
    top: -10px;
    transition: top 0.5s ease;
  }
  /* line 83, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .project-item a {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 92, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  /* line 97, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .project-item {
    margin-bottom: 50px;
  }
  /* line 99, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .project-item img {
    max-width: 310px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 109, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  #portfolio h2 {
    font-size: 2.6rem;
  }
  /* line 115, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .portfolio-grid .project-item:nth-child(n+5):nth-child(-n+6) {
    display: block;
  }
  /* line 119, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  /* line 124, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .project-item {
    margin-bottom: 50px;
  }
  /* line 126, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .project-item img {
    max-width: 280px;
  }
}

@media (min-width: 1100px) {
  /* line 134, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  #portfolio h2 {
    font-size: 2.6rem;
  }
}

@media (min-width: 1200px) {
  /* line 142, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .portfolio-grid .project-item.hidden:nth-child(n+5):nth-child(-n+9) {
    display: block;
  }
  /* line 146, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
#contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0c2e3b;
}

/* line 8, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
#contact-me h2 {
  color: white;
  font-size: 2.2rem;
  text-decoration: underline;
  margin-bottom: -10px;
}

/* line 14, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
#contact-me p {
  font-size: 1.3rem;
  color: white;
}

/* line 18, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
#contact-me .icon-arrow-down {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

/* line 25, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-form {
  width: 80%;
}

/* line 30, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
}

/* line 39, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.input-control {
  position: relative;
  margin-bottom: 20px;
}

/* line 45, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.input-control .error {
  color: #ff3860;
  font-size: 12px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 100%;
}

/* line 54, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.input-control.error input {
  border-color: #ff3860;
}

/* line 58, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.input-control.success input {
  border-color: #09c372;
}

/* line 63, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.colored-input {
  background-color: white;
  color: #5d777e;
}

/* line 66, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.colored-input:focus {
  outline: none;
  border-color: #1a73e8;
}

/* line 75, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
input::placeholder,
textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #9e9e9e;
  opacity: 1;
}

/* line 83, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-me-submit {
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: #1a73e8;
  border: none;
  cursor: pointer;
}

/* line 92, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-me-submit:hover {
  background-color: #1557b0;
}

/* line 97, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.large-input {
  height: 150px;
}

/* line 101, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.bottom-scroll {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

/* line 106, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.bottom-scroll p {
  margin-bottom: 0;
}

@media (min-width: 1100px) {
  /* line 116, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
  #contact-me h2 {
    font-size: 2.6rem;
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
.about-picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(60%);
}

/* line 12, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
#about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background: linear-gradient(to bottom right, #0c2e3b, #548597);
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

/* line 26, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
#about-text h2,
#about-text p {
  margin: 0px;
  padding: 20px 0 20px 20px;
}

/* line 31, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
#about-text h2 {
  font-size: 2.2rem;
}

/* line 34, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
#about-text p {
  font-size: 1.4rem;
}

/* line 39, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
.about-bottom-scroll {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  margin-top: 70px;
}

@media (max-width: 575px) {
  /* line 55, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
  .about-title h1 {
    font-size: 2.8rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* line 63, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
  .about-title h1 {
    font-size: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  /* line 71, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
  .about-title h1 {
    font-size: 5rem;
  }
}

@media (min-width: 1100px) and (max-width: 1299px) {
  /* line 79, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
  .about-title h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1300px) and (max-width: 1499px) {
  /* line 87, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
  .about-title h1 {
    font-size: 7rem;
  }
}

@media (min-width: 1500px) {
  /* line 96, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
  .about-title h1 {
    font-size: 8rem;
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.code-example-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

/* line 11, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.code-example-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0c2e3b;
  background-color: white;
  box-shadow: inset 0 0 15px #0c2e3b;
  height: 400px;
}

/* line 21, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.code-example-text h2,
.code-example-text p {
  margin: 0px;
  padding: 20px 0 20px 20px;
}

/* line 26, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.code-example-text h2 {
  font-size: 2.2rem;
}

/* line 29, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.code-example-text p {
  font-size: 1.4rem;
}

/* line 34, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.code-example-coming-pic {
  max-height: 500px;
  max-width: 80%;
  border-radius: 5%;
  box-shadow: 0 5px 20px white;
}

/* line 42, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* line 48, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.code-example-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* line 57, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.code-example-title h1 {
  background: -webkit-linear-gradient(45deg, white, #548597);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 500px) {
  /* line 70, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
  .image-container {
    margin-top: 150px;
  }
}

@media (max-width: 767px) {
  /* line 80, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
  .code-example-container {
    height: calc(100vh - 50px);
  }
}

@media (min-width: 450px) and (max-width: 767px) {
  /* line 88, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
  .code-example-title h1 {
    font-size: 3rem;
  }
  /* line 91, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
  .code-example-title h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  /* line 100, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
  .code-example-main-container {
    height: calc(100vh - 50px);
  }
  /* line 105, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
  .code-example-title h1 {
    font-size: 4rem;
  }
  /* line 108, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
  .code-example-title h2 {
    font-size: 2.2rem;
  }
}

@media (min-width: 1100px) {
  /* line 116, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
  .code-example-title h1 {
    font-size: 5.5rem;
  }
  /* line 119, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
  .code-example-title h2 {
    font-size: 2.8rem;
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
.scs-scheme-main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 8, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
.scs-scheme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  max-height: 100%;
  color: white;
}

/* line 19, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
.scs-scheme-element {
  width: 100%;
  font-size: 1rem;
  background-color: #475b61;
  box-shadow: 0 5px 10px white;
  text-align: center;
  margin: 20px 0;
  padding: 15px;
}

/* line 27, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
.scs-scheme-element h2 {
  text-decoration: underline;
  padding-bottom: 10px;
}

/* line 31, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
.scs-scheme-element a {
  color: #5197be;
}

/* line 34, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
.scs-scheme-element a:active,
.scs-scheme-element a.clicked {
  color: white;
  background-color: #5d777e;
  box-shadow: inset 0 0 5px #0c2e3b;
}

/* line 45, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
.scs-right-element ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 52, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
.scs-scheme-element p,
.scs-scheme-element ul,
.scs-scheme-element h2 {
  width: 100%;
  margin: 0;
}

@media (max-width: 767px) {
  /* line 67, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-right-element {
    max-width: 450px;
  }
}

@media (min-width: 768px) {
  /* line 77, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-left-element {
    align-self: flex-start;
  }
  /* line 83, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-right-element {
    align-self: flex-end;
  }
  /* line 87, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-scheme-element {
    position: relative;
    top: 0;
    transition: top 0.5s ease;
    text-decoration: none;
    max-width: 570px;
  }
  /* line 14, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/utilities/_mixins.scss */
  .scs-scheme-element:hover {
    top: -10px;
    transition: top 0.5s ease;
  }
  /* line 93, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-scheme-main-container {
    height: calc(100vh - 55px);
  }
}

@media (min-wdith: 768px) and (max-width: 1400px) {
  /* line 100, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-scheme-element {
    margin: 10px 0;
  }
}

@media (min-width: 1400px) {
  /* line 107, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-scheme-element {
    font-size: 1.2rem;
  }
  /* line 112, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-left-element {
    max-width: 1000px;
  }
  /* line 116, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-right-element {
    max-width: 1000px;
  }
}

@media (min-width: 2200px) {
  /* line 123, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-left-element {
    max-width: 1400px;
  }
  /* line 127, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-right-element {
    max-width: 1400px;
  }
}

/*# sourceMappingURL=application.css.map */