/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
html {
  font-size: 16px;
  line-height: 1.42857143;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* line 9, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 14, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 19, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 28, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
body {
  display: flex;
  flex-direction: column;
}

/* line 38, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
#moving-background {
  background-image: url("/yourrepo/images/network-4851119_1920.jpg"), url("../../images/network-4851119_1920.jpg");
  /* Fallback for local */
  background-size: cover;
  -webkit-animation: slidein 25s;
  animation: slidein 25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@media (min-width: 768px) {
  /* line 89, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/base/_base.scss */
  .main-container {
    width: calc(100% - 200px);
    margin-left: 200px;
  }
}

/* line 12, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* line 33, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
  z-index: 1;
}

/* line 42, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-title h1 {
  margin-bottom: -10px;
}

/* line 48, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-scroll {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  font-size: 1.5rem;
  z-index: 1;
}

/* line 59, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-scroll p {
  margin-bottom: 0;
}

/* line 62, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
.hero-scroll .icon-arrow-down {
  font-size: 2rem;
}

@media (max-width: 767px) {
  /* line 74, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  header {
    height: calc(100vh - 76px);
  }
  /* line 80, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-scroll {
    margin-bottom: 100px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* line 87, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-title {
    font-size: 1.8rem;
  }
  /* line 90, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-scroll {
    font-size: 1.7rem;
  }
  /* line 92, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-scroll .icon-arrow-down {
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  /* line 99, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-title {
    font-size: 1.8rem;
  }
  /* line 102, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-scroll {
    font-size: 1.7rem;
  }
  /* line 104, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-scroll .icon-arrow-down {
    font-size: 2rem;
  }
}

@media (min-width: 1100px) {
  /* line 111, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-title {
    font-size: 2.2rem;
  }
  /* line 114, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-scroll {
    font-size: 1.9rem;
  }
  /* line 116, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_header.scss */
  .hero-scroll .icon-arrow-down {
    font-size: 2.2rem;
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5d777e;
  box-shadow: inset 0 0 30px #0c2e3b;
  height: 100%;
  width: 200px;
}

/* line 12, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 20, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.nav-initals a {
  text-align: center;
  font-size: 3rem;
  margin-bottom: -20px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 0 black,  -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

/* line 35, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.pages-links {
  list-style-type: none;
  padding: 0;
  padding-bottom: 20px;
}

/* line 39, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.pages-links li {
  width: 140px;
  margin-bottom: 20px;
  background-color: #548597;
  border-radius: 5%;
  padding: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

/* line 49, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.pages-links li a {
  color: white;
  text-decoration: none;
}

/* line 55, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.nav-socials {
  text-align: center;
  padding-bottom: 10px;
}

/* line 58, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.nav-socials a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

/* line 65, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.links-container {
  text-align: center;
  padding-left: 0px;
}

/* line 76, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.hamburger-icon {
  position: relative;
  width: 100px;
  height: 56px;
  margin: 10px 0px;
}

/* line 84, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.hamburger-line {
  width: 45px;
  height: 4px;
  background-color: #fff;
  margin: 8px 0;
}

/* line 95, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
.hamburger-line-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  /* line 115, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
  nav {
    width: 100%;
  }
  /* line 119, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
  .nav-initals,
  .links-container,
  .nav-socials {
    display: none;
  }
  /* line 127, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
  .hamburger-icon {
    display: block;
  }
}

@media (min-width: 768px) {
  /* line 137, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
  nav {
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    position: fixed;
  }
  /* line 144, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
  .hamburger-icon {
    display: none;
  }
  /* line 148, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_nav.scss */
  .nav-initals {
    margin-bottom: 75px;
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_footer.scss */
footer {
  display: flex;
  justify-content: center;
  background-color: #5d777e;
  box-shadow: inset 0 0 30px #0c2e3b;
  color: white;
}

@media (min-width: 768px) {
  /* line 17, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_footer.scss */
  footer p {
    margin-left: 200px;
  }
}

/* line 3, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
#portfolio {
  background-color: #5d777e;
  box-shadow: inset 0 0 40px #0c2e3b;
}

/* line 9, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
#portfolio h2 {
  text-align: center;
  color: white;
  font-size: 2.2rem;
  text-decoration: underline;
  margin-top: 0;
  padding-top: 20px;
}

/* line 18, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.project-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 450px;
  box-sizing: border-box;
  padding-bottom: 20px;
}

/* line 27, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.project-item img {
  width: 100%;
  height: auto;
  border-radius: 10%;
  box-shadow: 0 5px 12px white;
}

/* line 33, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.project-item h3 {
  color: white;
}

/* line 36, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.project-item a {
  background-color: #0c2e3b;
  box-shadow: inset 0 0 5px #5d777e;
  color: white;
  border: 2px solid #548597;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
}

/* line 51, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.hidden {
  display: none;
}

/* line 56, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

@media (min-width: 768px) {
  /* line 79, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .project-item {
    position: relative;
    top: 0;
    transition: top 0.5s ease;
    text-decoration: none;
  }
  /* line 14, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/utilities/_mixins.scss */
  .project-item:hover {
    top: -10px;
    transition: top 0.5s ease;
  }
  /* line 81, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .project-item a {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 91, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  /* line 96, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .project-item {
    margin-bottom: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 105, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  #portfolio h2 {
    font-size: 2.6rem;
  }
  /* line 111, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .portfolio-grid .project-item:nth-child(n+5):nth-child(-n+6) {
    display: block;
  }
  /* line 115, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  /* line 120, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .project-item {
    margin-bottom: 50px;
  }
}

@media (min-width: 1100px) {
  /* line 127, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  #portfolio h2 {
    font-size: 2.6rem;
  }
}

@media (min-width: 1200px) {
  /* line 135, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .portfolio-grid .project-item.hidden:nth-child(n+5):nth-child(-n+9) {
    display: block;
  }
  /* line 139, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_portfolio.scss */
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
#contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0c2e3b;
}

/* line 8, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
#contact-me h2 {
  color: white;
  font-size: 2.2rem;
  text-decoration: underline;
  margin-bottom: -10px;
}

/* line 14, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
#contact-me p {
  font-size: 1.3rem;
  color: white;
}

/* line 19, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
#contact-me .icon-arrow-down {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

/* line 26, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-form {
  width: 80%;
}

/* line 30, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

/* line 37, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-form div {
  margin-bottom: 10px;
}

/* line 41, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.colored-input {
  background-color: #5d777e;
  box-shadow: inset 0 0 3px white;
  color: white;
}

/* line 45, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.colored-input:focus {
  outline: 2px solid white;
}

/* line 53, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
input::placeholder,
textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  opacity: 1;
}

/* line 61, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.contact-me-submit {
  font-size: 1.2rem;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  color: #0c2e3b;
  border: 2px solid #548597;
}

/* line 70, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.large-input {
  height: 150px;
}

/* line 74, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.bottom-scroll {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

/* line 79, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
.bottom-scroll p {
  margin-bottom: 0;
}

@media (min-width: 1100px) {
  /* line 90, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_contact.scss */
  #contact-me h2 {
    font-size: 2.6rem;
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
.about-picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(50%);
}

/* line 12, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
#about-text {
  display: flex;
  /* Keep flex properties */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: #0c2e3b;
  overflow: hidden;
  /* Prevents overflow */
  padding: 20px;
  /* Adds padding */
  box-sizing: border-box;
  /* Ensures padding is included in width/height */
  width: 100%;
  /* Ensures it takes full width of the parent */
  margin: 0 auto;
  /* Centers the container */
  height: auto;
  /* Allows height to adjust based on content */
}

/* line 26, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
#about-text h2,
#about-text p {
  margin: 0px;
  padding: 20px 0 20px 20px;
}

/* line 31, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
#about-text h2 {
  font-size: 2.2rem;
}

/* line 34, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
#about-text p {
  font-size: 1.4rem;
}

/* line 39, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_about.scss */
.about-bottom-scroll {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  margin-top: 70px;
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.code-example-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

/* line 11, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.code-example-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0c2e3b;
  background-color: white;
  box-shadow: inset 0 0 15px #0c2e3b;
  height: 400px;
}

/* line 21, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.code-example-text h2,
.code-example-text p {
  margin: 0px;
  padding: 20px 0 20px 20px;
}

/* line 26, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.code-example-text h2 {
  font-size: 2.2rem;
}

/* line 29, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.code-example-text p {
  font-size: 1.4rem;
}

/* line 34, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.code-example-coming-pic {
  max-height: 500px;
  max-width: 80%;
  border-radius: 5%;
  box-shadow: 0 5px 20px white;
}

/* line 42, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* line 48, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
.code-example-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

@media (max-width: 500px) {
  /* line 63, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
  .image-container {
    margin-top: 150px;
  }
}

@media (max-width: 767px) {
  /* line 73, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
  .code-example-container {
    height: calc(100vh - 50px);
  }
}

@media (min-width: 768px) {
  /* line 82, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
  .code-example-main-container {
    height: calc(100vh - 50px);
  }
}

@media (min-width: 1100px) {
  /* line 88, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_codeExample.scss */
  .code-example-title {
    font-size: 1.8rem;
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
.scs-scheme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  color: white;
}

/* line 12, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
.scs-scheme-element {
  width: 100%;
  font-size: 1rem;
  background-color: #475b61;
  box-shadow: 0 5px 10px white;
  margin: 20px 0;
  padding: 15px;
}

/* line 19, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
.scs-scheme-element h2 {
  text-decoration: underline;
  padding-bottom: 10px;
}

/* line 23, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
.scs-scheme-element a {
  color: #5197be;
}

/* line 29, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
.scs-left-element {
  text-align: center;
}

/* line 35, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
.scs-right-element h2 {
  padding-left: 20px;
}

/* line 40, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
.scs-scheme-element p,
.scs-scheme-element ul,
.scs-scheme-element h2 {
  width: 100%;
  margin: 0;
}

@media (max-width: 767px) {
  /* line 55, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-right-element {
    max-width: 450px;
  }
}

@media (min-width: 768px) {
  /* line 64, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-left-element {
    align-self: flex-start;
  }
  /* line 70, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-right-element {
    align-self: flex-end;
  }
  /* line 74, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-scheme-element {
    position: relative;
    top: 0;
    transition: top 0.5s ease;
    text-decoration: none;
    max-width: 570px;
    margin: 10px 0;
  }
  /* line 14, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/utilities/_mixins.scss */
  .scs-scheme-element:hover {
    top: -10px;
    transition: top 0.5s ease;
  }
  /* line 81, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-scheme-main-container {
    height: calc(100vh - 55px);
  }
}

@media (min-width: 1400px) {
  /* line 89, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-scheme-element {
    font-size: 1.2rem;
  }
  /* line 94, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-left-element {
    max-width: 1000px;
  }
  /* line 98, ../../../../../Nettmaters_main/assessments/myPortfolio/scss/layout/_scsScheme.scss */
  .scs-right-element {
    max-width: 800px;
  }
}

/*# sourceMappingURL=application.css.map */