//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// COLORS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// MAIN DESIGN PALETTE
///////////////////////////////////////
$primary-color: #5197be;
$second-color: #548597;
$third-color: #5d777e;
$fourth-color: #0c2e3b;

//////////////////////////////////////


$white: white;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// FONTS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$primary-font--family: "Roboto", sans-serif;
$primary-font--weight: 400;
