.about-picture {
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%; 
    width: 100%; 
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%);
}

#about-text{
    display: flex; /* Keep flex properties */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
    background-color: $fourth-color;
    overflow: hidden; /* Prevents overflow */
    padding: 20px; /* Adds padding */
    box-sizing: border-box; /* Ensures padding is included in width/height */
    width: 100%; /* Ensures it takes full width of the parent */
    margin: 0 auto; /* Centers the container */
    height: auto; /* Allows height to adjust based on content */
    h2,
    p{
        margin: 0px;
        padding: 20px 0 20px 20px
    }
    h2{
        font-size: 2.2rem;
    }
    p{
        font-size: 1.4rem;
    }
}

.about-bottom-scroll{
    text-decoration: none;
    color: $white;
    font-size: 1.7rem;
    margin-top: 70px;
}

.about-title{
    h1{
        // these three lines of code give the text a colour gradient
        background: -webkit-linear-gradient(45deg, $white, $third-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


/////////////////////////////////////////////////////////////////////////////////////////////////////
/// MEDIA QUERIES
/////////////////////////////////////////////////////////////////////////////////////////////////////

@media(max-width: 575px){
    .about-title{
        h1{
            font-size: 2.8rem;
        }
    }
}

@media(min-width: 576px) and (max-width: 767px){
    .about-title{
        h1{
            font-size: 4rem;
        }
    }
}

@media(min-width: 768px) and (max-width: 1099px){
    .about-title{
        h1{
            font-size: 5rem;
        }
    }
}

@media(min-width: 1100px) and (max-width: 1299px){
    .about-title{
        h1{
            font-size: 6rem;
        }
    }
}

@media(min-width: 1300px) and (max-width: 1499px){
    .about-title{
        h1{
            font-size: 7rem;
        }
    }
}

@media(min-width: 1500px) {

    .about-title{
        h1{
            font-size: 8rem;
        }
    }
}