footer{
    grid-row: 5;
    grid-column: 1/-1; // Added to make nav span all columns
    background-color: $third-color;
    box-shadow: inset 0 0 30px $fourth-color; 
    color: $white;
}



/////////////////////////////////////////////////////////////////////////////////////////////////////
/// MEDIA QUERIES
/////////////////////////////////////////////////////////////////////////////////////////////////////