footer{
    grid-row: 5;
    grid-column: 1/-1; // Added to make nav span all columns
    background-color: $fourth-color;
    color: $white;
}



/////////////////////////////////////////////////////////////////////////////////////////////////////
/// MEDIA QUERIES
/////////////////////////////////////////////////////////////////////////////////////////////////////