header {
    background-size: cover; /* Ensures the image covers the entire header */
    background-position: center; /* Centers the image */
    height: 100vh; /* Adjust height as needed */
    color: white; /* Optional: change text color for better visibility */
}

// this is setting the container height and the way things are positioned within the container
.hero-container {
    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height: 100vh; 
}

// this is making the picture be placed at the top left of the hero-container as this is 
// relative positioned, the z index lets it sit behind the text 
.hero-picture {
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%; 
    width: 100%; 
    object-fit: cover;
    z-index: -1;
}




.hero-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    z-index: 1;
    h1{
        margin-bottom: -10px;
    }

}

.hero-scroll{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    z-index: 1;
    .icon-arrow-down{
        font-size: 2rem;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
/// MEDIA QUERIES
/////////////////////////////////////////////////////////////////////////////////////////////////////

@media(max-width: 767px){
    // this is here so we can see the scroll down and arrow in the mobile view view without scrolling
    .hero-scroll{
        margin-bottom: 100px;
    }
}

@media(min-width: 576px) and (max-width: 767px){
    .hero-title{
        font-size: rem;
    }
}

@media(min-width: 768px){

}