nav{
    grid-row: 1 / -1; // this makes the nav span from the top row as low as possible
    grid-column: 1 / 2; // this makes the nmav span one full column
    background-color: #209855;
    height: 100%;
}


// IMPORTANT !
// HAVE THE NAV BAR ON THE LEFT SHOW FROM 768PX AND UP


/////////////////////////////////////////////////////////////////////////////////////////////////////
/// MEDIA QUERIES
/////////////////////////////////////////////////////////////////////////////////////////////////////

// this hides nav under 767px
@media(max-width: 767px){

    nav{
        display: none;
    }
}

// this is making nav show up and just take up 1 column on the left side at 768px and up
@media(min-width: 768px){

    nav{
        display: block;
        grid-row: 1 / -1; // this makes the nav span from the top row as low as possible
        grid-column: 1 / 2; // this makes the nmav span one full column
        background-color: #209855;
        height: 100%;
    }
}