nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    box-shadow: inset 0 0 30px $fourth-color; 
    height: 100%;
    width: 200px
}

.nav-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// aligns the initials 
.nav-initials a{
    text-align: center;
    font-size: 3rem;
    // brings the links closer to the initials 
    margin-bottom: -20px;
    color: $white;
    text-decoration: none;
    // gives the initials a slight shadow
    text-shadow: 1px 1px 0 black, 
                -1px -1px 0 black,
                1px -1px 0 black,
                -1px 1px 0 black;
                
    // this adds a background click effect when pushed 
    h1:active,
    h1.clicked {
        color: $white; 
        background-color: $primary-color;
        box-shadow: inset 0 0 5px $fourth-color;
        padding: 5px 20px;
    }
}

// Remove bullet points
.pages-links{
    list-style-type: none;
    padding: 0;
    padding-bottom: 20px;
    li{
        width: 140px;
        margin-bottom: 20px;
        background-color: $second-color;
        border-radius: 5%;
        padding: 5px;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    }
    // this changes the li's background color when clicked 
    li:active,
    li.clicked {
        color: $white; 
        background-color: $primary-color;
        box-shadow: inset 0 0 5px $fourth-color; 
    }

    // removes underline
    li a{
        color: $white;
        text-decoration: none;
    }

}

.nav-socials{
    text-align: center;
    padding-bottom: 10px;
    a{
        font-size: 2rem;
        color: $white;
        text-decoration: none;
    }
}

.links-container{
    text-align: center;
    padding-left: 0px;
}



// HAMBURGER ICON 
////////////////////////////////////////////////////////////////////////////////////////////////////

// We make this relative to the hamburger lines can be positioned according to this elements position
.hamburger-icon{
    position: relative; 
    width: 100px;
    height: 56px;
    margin: 10px 0px;

}

.hamburger-line{
    width: 45px;
    height: 4px;
    background-color: #fff;
    margin: 8px 0;
    
}

// This moves relative to the hamburger-icons top left corners position because of absolute
// we then move it down and left 50%, this would have it off the box, so we use transfrom: translate()
// to move it back right and up 50% of its own width; effectivley centering it.
.hamburger-line-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

// IMPORTANT !
// HAVE THE NAV BAR ON THE LEFT SHOW FROM 768PX AND UP


/////////////////////////////////////////////////////////////////////////////////////////////////////
/// MEDIA QUERIES
/////////////////////////////////////////////////////////////////////////////////////////////////////

@media(max-width: 767px){

    // this allows the nav to stretch to 100% when the navs at the top
    nav{
        width: 100%
    }

    // CHANGE THIS TO NONE COMMENTED WHEN IMPLEMENTING JAVA SCRIPT
    // .nav-initials,
    // .links-container,
    // .nav-socials{
    //     display: none;
    // }

    // IMPORTANT - THIS WIILL NOT BE HIDDEN WHEN I DO JAVA SCRIPT, THE OTHETR BITS 
    // WILL BE AND THEN DROP DOWN 
    .hamburger-icon{
        display: none;
    }

}


// this is making nav show up and just take up 1 column on the left side at 768px and up
@media(min-width: 768px){

    nav{
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
        position: fixed;
    }

    .hamburger-icon{
        display: none;
    }

    .nav-initials{
        margin-bottom: 75px;
    }
    

}
