

.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center; // Centers children horizontally
    justify-content: center; // Centers children vertically
    background-color: $third-color;
    box-shadow: inset 0 0 30px $fourth-color; 

}

.portfolio h2 {
    color: $white;
    font-size: 1.8rem;
    text-decoration: underline;
}

.Project-item {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%; 
    box-sizing: border-box;
    padding-bottom: 20px;

    // this is keeping the image at 100% of its container
    img {
        width: 100%; 
        height: auto;
        border-radius: 10%;
        box-shadow: 0 5px 12px $white;  
    }
    h3{
        color: $white;
    }
    a{
        background-color: $fourth-color;
        color: $white;
        border: 2px solid $second-color;
        border-radius: 5px;
        padding: 5px; 
        width: 100px; 
        display: inline-block; // Changes this to block for centering
        margin: 0 auto; // This Centers the button
        text-decoration: none;
    }

}

/////////////////////////////////////////////////////////////////////////////////////////////////////
/// MEDIA QUERIES
/////////////////////////////////////////////////////////////////////////////////////////////////////

@media(min-width: 768px){
    portfolio{

    }
}