html{
    font-size: 16px;
    line-height: 1.42857143;
    font-family: $primary-font--family; // Correct variable name
    font-weight: $primary-font--weight; // Correct variable name
}


* {
    box-sizing: border-box;
}


html, body {
    margin: 0;  // Remove default margin
    padding: 0; // Remove default padding
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}



body{
    // im setting the body to grid to make it easier to layout my content sections
    display: flex;
    flex-direction: column;
}

/////////////////////////////////////////////////////////////////////////////////////////////
///  MOVING BACKGROUND GLOBAL STYLE FOR HEADERS WITH ID OF MOVING-BACKGROUND
////////////////////////////////////////////////////////////////////////////////////////////

#moving-background {
    background-image: 
    url('/yourrepo/images/network-4851119_1920.jpg'), /* Main background */
    url('../../images/network-4851119_1920.jpg'); /* Fallback for local */
    background-size:cover;
        -webkit-animation: slidein 25s;
        animation: slidein 25s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

////////////////////////////////////////////////////////////////////////////////////////////////////

// MEDIA BREAKPOINTS - 

// XS ? no media queries as this is default when developing (mobile first, aim to make sure this works from 280px and above)

// Small devices ? min-width: 576px and up

// Medium devices ? min-width: 768px and up

// Large devices ? min-width 992px and up

// Extra-large devices ? min-width: 1200px and up

/////////////////////////////////////////////////////////////////////////////////////////////////////
/// MEDIA QUERIES
/////////////////////////////////////////////////////////////////////////////////////////////////////

// this sets the main containers content to 80%, then the nav is set to 20% in the nav.scss, this means
// we can have the nav running down the left, the main content on the right at 100% of the vh together,
// then the margin-left will push the main content to the right by whatever the navs width is. 
@media(min-width: 768px){
    .main-container {
        width: calc(100% - 200px);
        margin-left: 200px; 
    }
}