
* {
    box-sizing: border-box;
}


html, body {
    margin: 0;  // Remove default margin
    padding: 0; // Remove default padding
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

body{
    // im setting the body to grid to make it easier to layout my content sections
    display: flex;
    flex-direction: column;
}


// MEDIA BREAKPOINTS - 

// XS ? no media queries as this is default when developing (mobile first, aim to make sure this works from 280px and above)

// Small devices ? min-width: 576px and up

// Medium devices ? min-width: 768px and up

// Large devices ? min-width 992px and up

// Extra-large devices ? min-width: 1200px and up

/////////////////////////////////////////////////////////////////////////////////////////////////////
/// MEDIA QUERIES
/////////////////////////////////////////////////////////////////////////////////////////////////////

// IMPORTANT -
// this main code means that in 768px and up the content block shifts up and takes the space the nav had in mobile view
// if this isnt here then there a blank space 
